/* Body background image. */
body {
    background-image: url(backgroundPhotos/1.jpg);
    background-position: center;
    background-size: cover;

    /* background-repeat: no-repeat; */
    transition: all 1s;

    font-family: Verdana;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;

}

/* Get rid of cursor highlighting. */
::selection {
    background: none;
}

/*  Input properties. */
input[type=text] {
    width: 60%;
    height: auto;

    background-color: rgba(0, 0, 0, 0.35);
    color:  rgba(255, 255, 255, 0.8);
    
    text-align: center;
    margin: 40px;
    
    font-size: 50px;
    border-radius: 20px;
    border-width: 0px;
    border-color: none;
    outline: none;
    padding: none;
}

form {
    margin: 0px;
    border: none;
    padding: none;
}

/* Header properties. */
header {
    margin: 10px   
}

/* Division properties. */
div {
    margin: 0px;
}
/* Division Hello <name> properties. */
div.helloName {
    margin: 50px;
    border-bottom: 2px solid #eeeeee;
}

/* Division question/message properties. */
div.welcomeMessage {
    margin: 50px;   
}

/* Section properties with links and suggestions. */
section {
    margin: 50px;
    overflow: hidden;   
    /* Wrapping of containers with links.  */
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
}

/* Rightbox suggestion box properties. */
section div{
    min-width: 300px;
    width: 30%; 
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.25);
}
section div:hover {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.8);
    transition: ease-in-out 1s;
}
/* section h1 {

    border-radius: 20px;
} */
/*  Hover color. */
.hvrClr1:hover {
    color: #ff0099;
    transition: all 2s;
}
.hvrClr2:hover {
    color: rgb(82, 204, 241);
    transition: ease-in-out 1s;
}

/* Hyperlink text properties */
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);     
}


/* Hello <name> text properties. */
h1 {
    margin: 50px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
}

/* Display question/message text properties. */
h2 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);;
}

/* Suggestions and links title, text properties.  */
section div h1{
    font-size: 20px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.7);
}

/* Suggestions and links text properties. */
section div h2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

/* Date and time text properties. */
h3 {
    font-size: 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}


header {
       /* Wrapping of containers with links.  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

header div {
    margin: 0px;

}


header div h3{
    margin: 0px;
    
}

.invisible {
    text-align: right;
    color: rgba(255, 255, 255, 0.3);
}

.spotify {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border-color: transparent;
}

/* Media query for orientation */
@media only screen and (orientation: portrait){
    section {
        flex-direction: column;
        justify-content: center; 
    }
    section div{
        min-width: 300px;
        width: 80%; 
        margin: 10%;
        border-radius: 20px;
        justify-content: center; 
    }

        /* Hello <name> text properties. */
    h1 {
        margin: 5%;
        font-size: 80px;
        color: rgba(255, 255, 255, 0.8);
    }

    /* Display question/message text properties. */
    h2 {
        font-size: 30px;
        color: rgba(255, 255, 255, 0.8);;
    }

    /* Suggestions and links title, text properties.  */
    section div h1{
        font-size: 50px;
        margin: 0px;
        color: rgba(255, 255, 255, 0.7);
    }

    /* Suggestions and links text properties. */
    section div h2 {
        font-size: 40px;
        color: rgba(255, 255, 255, 0.5);
    }

    /* Date and time text properties. */
    h3 {
        font-size: 20px;
        text-align: left;
        color: rgba(255, 255, 255, 0.6);
    }

    .spotify {
        height: 200px;
        width: 100%;
    }
    
}