/* Body background image. */
body {
    background-image: url(backgroundPhotos/1.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    transition: all 1s;

    font-family: Verdana;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
}


/* Header properties. */
header {
    margin: 10px   
}

/* Division properties. */
div {
    margin: 0px;
}
/* Division Hello <name> properties. */
div.helloName {
    margin: 50px;
    border-bottom: 1px solid #eeeeee;
}

/* Division question/message properties. */
div.welcomeMessage {
    margin: 50px;   
}

/* Section properties with links and suggestions. */
section {
    margin: 50px;
    overflow: hidden;   
    display: flex;
}

/* Rightbox suggestion box properties. */
section div{
    width: 50%;
}
section div:hover {
    /* background-color: rgba(0, 0, 0, 0.35); */
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.8);
}

/*  Hover color. */
.hvrClr1:hover {
    color: #ff0099;
    transition: all 2s;
}
.hvrClr2:hover {
    color: rgb(82, 204, 241);
    transition: ease-in-out 1s;
}

/* Hyperlink text properties */
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);     
}


/* Hello <name> text properties. */
h1 {
    margin: 50px;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.8);
}

/* Display question/message text properties. */
h2 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);;
}

/* Suggestions and links title, text properties.  */
section div h1{
    font-size: 20px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.5);
}

/* Suggestions and links text properties. */
section div h2 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.3);
}

/* Date and time text properties. */
h3 {
    font-size: 15px;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
}


